[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
category-encoders = "==2.6.4"
scikit-learn = "==1.5.2"
tqdm = "*"
xgboost = "*"

[dev-packages]
jupyterlab = "*"
black = "*"

[requires]
python_version = "3.11"
